* {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0px;
}

/*Ceci est l'import pour mon header*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(99, 99, 99, 0.8);
  margin-bottom: 5px;
  height: 63px;
}
header h1 {
  margin: 18px 0 0 0;
}
header h1 img {
  width: 162px;
}

/*Ceci est l'import de la section localisation du main*/
.localisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  gap: 10px;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  margin-bottom: 2px;
}
.localisation i {
  margin-left: 55px;
}
.localisation input {
  border: 0px;
  background-color: #EAEAEA;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.presentation .presentation-content {
  text-align: center; /* Centre le contenu */
  max-width: 600px; /* Exemple de largeur maximale */
  margin: 0 auto; /* Centre la section horizontalement */
}
.presentation .presentation-content h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}
.presentation .presentation-content p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}
.presentation .buttonhightlight :hover {
  background-color: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

button.pinkButton {
  font-weight: 500px;
  font-size: 16px;
  padding: 15px;
  border: none;
  width: 218px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 33px;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
button.pinkButton:hover {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  flex-wrap: nowrap;
}
.fonctionnement h2 {
  font-weight: 700;
  font-size: 24px;
}
.fonctionnement .fonction-article {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #F6F6F6;
  font-weight: 500;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  align-items: center;
  height: 72px;
}
.fonctionnement i {
  margin-left: 20px;
  color: #7E7E7E;
}
.fonctionnement p {
  margin-left: 20px;
  font-weight: bold;
  font-weight: 500px;
  size: 16px;
}
.fonctionnement span {
  color: white;
  margin-left: -7px;
  height: 18px;
  border: 1px solid;
  padding: 0px 4px;
  border-radius: 50%;
  background-color: #9356DC;
}

.restaurants {
  padding: 20px;
  margin: 20px 0;
}
.restaurants .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.restaurants .cartes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.restaurants .plats {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.restaurants .plats img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants .plats span {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
  padding: 10px 15px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 500;
}
.restaurants .plats .restoName {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.restaurants .plats .restoName h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}
.restaurants .plats .restoName p {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: #666;
}
.restaurants .plats .hearth {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 24px;
  color: black;
}

/*Ceci est l'import pour mon footer*/
.footer {
  background-color: #353535;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  margin-top: 50px;
}
.footer .container {
  padding-left: 10px;
}
.footer .footerlogo {
  margin-bottom: 10px;
  font-family: shrikhand, sans-serif;
  font-size: 25px;
}
.footer .footerlist {
  list-style: none;
  margin-top: 25px;
  padding: 0px;
}
.footer .footerlien {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}
.footer .footerlien .footericone {
  margin-right: 10px;
}
.footer .footerlien:hover {
  text-decoration: none;
}
.footer i {
  color: white;
}

/*Ceci est l'import concernant mes pages de menu*/
main {
  position: relative;
  background-color: #F6F6F6;
}
main img {
  width: 100%;
  display: block;
}

.titremenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F6F6F6;
  padding: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.titremenu h2 {
  font-family: shrikhand, sans-serif;
  width: 341px;
  height: 27px;
  margin: 0;
}
.titremenu i {
  font-size: 24px;
  color: #333;
  padding: 20px;
  margin-top: 0;
}

.listemenu {
  background-color: #F6F6F6;
  padding: 15px;
  margin: 20px 0;
}

.titreplats {
  font-size: 16px;
  font-weight: 300;
  color: black;
  position: relative;
  margin: 20px 0;
  margin-top: 40px;
}
.titreplats::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.articles {
  display: flex;
  flex-direction: column;
}

.cartemenu {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  display: flex;
  justify-content: space-between;
}

.contenuarticle {
  flex-grow: 1;
  align-items: center;
  margin-bottom: -15px;
}

.cartemenu h3 {
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
  margin-top: -5px;
}

.cartemenu p {
  font-size: 14px;
  color: black;
  margin-top: auto;
  margin-bottom: 8px;
}

.prix {
  font-size: 18px;
  color: #353535;
  font-weight: bold;
  margin-top: auto;
}/*# sourceMappingURL=styles.css.map */