* {
  font-family: Roboto, sans-serif;
}

/*Ceci est l'import pour mon header*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(99, 99, 99, 0.8);
  margin-bottom: 5px;
  height: 63px;
}
header h1 {
  margin: 18px 0 0 0;
}
header h1 img {
  width: 162px;
}

/*Ceci est l'import de la section localisation du main*/
.localisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  gap: 10px;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  margin-bottom: 2px;
}
.localisation i {
  margin-left: 55px;
}
.localisation input {
  border: 0px;
  background-color: #EAEAEA;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.presentation .presentation-content {
  text-align: center; /* Centre le contenu */
  max-width: 600px; /* Exemple de largeur maximale */
  margin: 0 auto; /* Centre la section horizontalement */
}
.presentation .presentation-content h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}
.presentation .presentation-content p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}
.presentation .buttonhightlight :hover {
  background-color: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

button.pinkButton {
  font-weight: 500px;
  font-size: 16px;
  padding: 15px;
  border: none;
  width: 218px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 33px;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
button.pinkButton:hover {
  background: rgb(207, 41, 41);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
.fonctionnement h2 {
  font-weight: 700;
  font-size: 24px;
}
.fonctionnement article {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #F6F6F6;
  font-weight: 500;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  align-items: center;
  height: 72px;
}
.fonctionnement i {
  margin-left: 20px;
  color: #7E7E7E;
}
.fonctionnement p {
  margin-left: 20px;
  font-weight: bold;
  font-weight: 500px;
  size: 16px;
}
.fonctionnement span {
  color: white;
  margin-left: -7px;
  height: 18px;
  border: 1px solid;
  padding: 0px 4px;
  border-radius: 50%;
  background-color: #9356DC;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
  background-color: #F6F6F6;
}
.restaurants a {
  display: block;
}
.restaurants h2 {
  font-weight: 700;
  font-size: 24px;
}
.restaurants .plats {
  background-color: white;
  height: 100%;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 75% 25%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.restaurants .plats .restoName {
  grid-area: 2/1/3/2;
}
.restaurants .plats .hearth {
  grid-area: 2/2/3/3;
}
.restaurants .plats img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  grid-area: 1/1/2/3;
}
.restaurants .plats span {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  right: 0.75rem;
  grid-area: 1/2/2/3;
}

.contenaire {
  max-width: 1280px;
  margin: 20px;
}
.contenaire div {
  display: block;
}

.footer {
  background-color: #353535;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .container {
  padding-left: 10px;
}
.footer .footerlogo {
  margin-bottom: 10px;
}
.footer .footerlist {
  list-style: none;
  margin-top: 25px;
  padding: 0px;
}
.footer .footerlien {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}
.footer .footerlien .footericone {
  margin-right: 10px;
}
.footer .footerlien:hover {
  text-decoration: none;
}
.footer i {
  color: white;
}/*# sourceMappingURL=styles.css.map */