main {
    position: relative; 
    background-color: #F6F6F6;
  
  img {
    width: 100%;
    display: block; 
  }
}
    

.titremenu {

    display: flex;
    align-items: center; 
    justify-content: space-between;  
    background-color: #F6F6F6;
    padding: 10px;  
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
        

    h2 {
    font-family: shrikhand, sans-serif;
        width: 341px;
        height: 27px;
        margin: 0;
        
    }

    i {
        font-size: 24px; 
        color: #333; 
        padding: 20px;
        margin-top: 0;
    }
}

.listemenu {
    background-color: #F6F6F6;
    padding: 15px;
    margin: 20px 0;
    margin-top: -30
    px;
}

.titreplats{
    font-size: 16px ;
    font-weight: 300;
    color: black;
    position: relative;
    margin: 20px 0;
    margin-top: 40px;
    &::after {
        content: '';
        display: block;
        width: 40px; 
        height: 3px; 
        background-color: #99E2D0;
        position: absolute;
        bottom: -10px; 
        left: 0;
    }
       
}

.articles {
    display: flex;
    flex-direction: column;
}

.cartemenu {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 4.01px 15.04px 0px #0000001A;
    display: flex;
    justify-content: space-between;
}

.contenuarticle {
    flex-grow: 1;
    align-items: center;
    margin-bottom: -15px;
}

.cartemenu h3 {
    font-size: 18px;
    color: black;
    margin-bottom: 5px;
    margin-top: -5px;
}

.cartemenu p {
    font-size: 14px;
    color: black;
    margin-top: auto;
    margin-bottom: 8px;
}

.prix {
    font-size: 18px;
    color:  #353535;
    font-weight: bold;
    margin-top: auto; 
}

button {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
}

