main {
    position: relative; 
    background-color: white;
  
  img {
    width: 100%;
    display: block; 
    margin-bottom: 0;
    max-height: 360px;
    object-fit: cover;
  }
}
    
header {
    i {
        color: black;
    }
}


.hearth {
    display: flex;
    bottom: none;
    right: none;
    font-size: none;
}

.titremenu {
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;  
    background-color: #F6F6F6;
    
    margin-top: -40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    overflow: hidden;
        



    h2 {
    font-family: shrikhand, sans-serif;
        width: 341px;
        height: 27px;
        margin-left: 5%;
        margin-top: 6%;
    }

    i {
        font-size: 24px; 
        color: #333; 
        padding: 20px;
        margin-top: 3%;

    }
}

.listemenu {
    background-color: #F6F6F6;
    margin-top: -4rem;
    padding: 10px;
    z-index: 1;
    position: relative;
    margin: 0px;
    padding: 1px;

}

.titreplats{
    font-size: 16px ;
    font-weight: 300;
    color: black;
    position: relative;
    margin-top: 30px;
    padding-left: 2%;
    &::after {
        content: '';
        display: block;
        width: 40px; 
        height: 3px; 
        background-color: #99E2D0;
        position: absolute;
        bottom: -10px; 
        left: 2%;
    }
       
}

.articles {
    display: flex;
    flex-direction: column;
}

.cartemenu {
    width: 100%;
    max-height: 40px;
    background-color: white;
    box-shadow: 0px 4.01px 15.04px 0px #0000001A;
    border-radius: 10px;
    overflow: hidden;
    padding: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    
}

.ecart{
    padding-left: 2%;
    padding-right: 4%;
}

.lebouton{
    padding-bottom: 8%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
}

.contenuarticle {
    display: block;
    unicode-bidi: isolate;
    flex-wrap: wrap;
}

.cartemenu h3 {
    font-size: 18px;
    color: black;
    margin-bottom: 5px;
    margin-top: -5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cartemenu p {
    display: block;
    font-size: 14px;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: auto;
    
    margin-bottom: 8px;
}

.menu-prix {
    font-size: 14px;
    color:  #353535;
    font-weight: bold;
    margin-top: 15px;
    flex-shrink: 0;
    transition: all 0.3s ease; 
}



.menu-checkmark {
    i {
        color: #99E2D0; 
        background-color: white; 
        border: 2px solid #99E2D0 ;
        border-radius: 50%; 
        padding: 5px; 
        display: inline-flex; 
        align-items: center; 
        justify-content: center; 
        width: 24px; 
        height: 24px; 
        box-sizing: border-box;
        font-size: 12px;
    }
    font-size: 20px;
    color: #99E2D0;
    background-color:#99E2D0;
    height: 100%;
    width: 50px;
    position: absolute;
    right: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease; 
    
}


.cartemenu:hover .menu-checkmark {
    right: 0px;
  }
  
  .cartemenu:hover .menu-prix {
    transform: translateX(-50px);
  }
  
  .cartemenu:hover .contenuarticle {
    max-width: calc(100% - 110px);
  }
  
  .cartemenu.in-view {
    opacity: 1;
    transform: translateY(0);
}

@keyframes slideEntrees {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slidePlats {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDesserts {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#entrees {
    animation: slideEntrees 1S;
}

#plats {
    animation: slidePlats 2s;
}

#desserts {
    animation: slideDesserts 3s;
}

