main {
    position: relative; 
  
  img {
    width: 100%;
    display: block; 
  }
}
    

.titremenu {

    display: flex;
    align-items: center; 
    justify-content: space-between;  
    background-color: #F6F6F6;
    padding: 10px;  
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
        

    h2 {
    font-family: shrikhand, sans-serif;
        width: 341px;
        height: 27px;
        margin: 0;
        
    }

    i {
        font-size: 24px; 
        color: #333; 
        padding: 20px;
        margin-top: 0;
    }
}

.listemenu {
    background-color: #F6F6F6;
    padding: 20px;
    margin: 20px 0;
}

.titreplats{
    font-size: 16px ;
    font-weight: 300;
    color: #333;
    position: relative;
    margin: 20px 0;
    &::after {
        content: '';
        display: block;
        width: 40px; 
        height: 3px; 
        background-color: #99E2D0;
        position: absolute;
        bottom: -10px; 
        left: 0;
    }
       
}

.articles {
    display: flex;
    flex-direction: column;
}

.cartemenu {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
    display: flex;
    justify-content: space-between;
}

.contenuarticle {
    flex-grow: 1;
}

.cartemenu h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.cartemenu p {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.prix {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-top: auto; 
}