.plats {
    position: relative;
    border-radius: 15px;
    background-color: #ffff;
    box-shadow: 0px 4px 15px 0px #0000001A;
  
    .hearth {
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-size: 24px;
        color: black;
      }
      cursor: pointer;
  
      .fas,
      .far {
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.3s ease, color 0.3s ease;
      }
  
      .far {
        z-index: 1;
      }
  
      .fas {
        z-index: 2;
        display: none;
      }
  
      &:hover {
        .far {
          transform: scale(0);
        }
  
        .fas {
          display: inline-block;
          transform: scale(1.2);
          color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    
        }
      }
    }
  
  
  