.hearth {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 24px;

  .heart-icon {
    transition: opacity 0.5s ease;
  }

  .far {
  opacity: 1;
  }

  .fas {
  opacity: 0;
  position: absolute;
  top: 10;
  left: 0;
  color:#9356DC ;
  }

&:hover .far {
  opacity: 0;
}

&:hover .fas {
    opacity: 10;
 }
  }
  
.titremenu {
  .hearth {
    position: absolute;
  }
}

  
  