.hearth {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 24px;
  color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

  .heart-icon {
    transition: opacity 0.5s ease;
  }

  .far {
  opacity: 1;
  }

  .fas {
  opacity: 0;
  position: absolute;
  top: 10;
  left: 0;
  }

&:hover .far {
  opacity: 10;
}

&:hover .fas {
    opacity: 1;
 }
  }
  

  
  