.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    padding-bottom: 50px;

    .buttonhightlight :hover {
        background-color:  linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    }
}