@media (min-width: 768px) {
    .fonctionnement{
        .align {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .fonction-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

    }
    
    .restaurants {
        padding-left: 300px;
        padding-right: 300px;
        margin: 20px 0;
      
        .container {
          margin: 0 auto;
          padding: 20px;
        }
        h2 {
            display: flex;
            flex-direction: row;
            margin-left: -250px;
        }
      
        .cartes {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 100px;
          justify-content: center;
        }
      
        .plats {
        width: 490px;
        position: relative;
        border: 1px solid #ddd;
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 0px 4px 15px 0px #0000001A;
      
          img {
            width: 490px;
            height: 251px; 
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
          }
      
          
        }
      }

      footer {
        background-color: #353535;
        position: relative;
        color: white;
        padding: 20px 0;
      
        .container {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          max-width: 1200px;
          margin: auto;
      
          .footerlogo {
            font-size: 24px;
            font-weight: bold;
          }
      
          .footerlist {
            display: flex;
            list-style: none;
            padding: 10px;
          }

          .footerinterieur {
            margin-right: 10px;
            }

          .footerlien {
            color: white;
            text-decoration: none;
            margin-right: 20px;
      
          }
        }
      }
}