@media (min-width: 768px) {
    main {
        img {
            width: 100%;
            max-height: 650px; 
            object-fit: cover;
        }
    }

    .ohmyfoodmenu {
        box-shadow: none;
      }


    .listemenu{
        margin-left: 25%;
        margin-right: 25%;
        padding-left: 10%;
        padding-right: 10%;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        padding-bottom: 50px;
        margin-top: -40px;
    }

   .titreplats{
    margin-top: 15px;
   }

    .titremenu {

        display: flex;
        align-items: center; 
        justify-content: space-between;  
        background-color: #F6F6F6;
        margin-top: 10px;
        padding-bottom: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
            
    
        h2 {
        font-family: shrikhand, sans-serif;
            width: 341px;
            height: 27px;
            margin: 0;
            
        }
    
        i {
            font-size: 24px; 
            color: #333; 
            padding: 20px;
            margin-top: 0;
        }
    }
  
}